In [1]:
from bs4 import BeautifulSoup
import pymongo
from splinter import Browser
import requests
import time
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

url1 = "https://mars.nasa.gov/news/"
browser.visit(url1)

html1 = browser.html
soup = BeautifulSoup(html1, "lxml")

news_title = soup.find('div', class_= "content_title")
news_pic = soup.find('div', class_="rollover_description_inner").text

In [3]:
title = news_title.find('a').text
title

"Meet the People Behind NASA's InSight Mars Lander"

In [4]:
news_pic

'A series of NASA videos highlight scientists and engineers leading the next mission to Mars.'

In [7]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_url)

In [8]:
browser.click_link_by_partial_text("FULL IMAGE")

In [9]:
browser.click_link_by_partial_text("more info")

In [10]:
featured_image_url = browser.find_by_tag("figure").first.find_by_tag("a")["href"]
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16227_hires.jpg'

In [11]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

url3 = "https://twitter.com/marswxreport"
browser.visit(url3)

In [16]:
html3 = browser.html
soup3 = BeautifulSoup(html3, "lxml")

In [20]:
mars_weather = soup3.find("p", class_="tweet-text").text
mars_weather

'#SolarProbe launch forecast from Launch Weather Officer Kathy Wintepic.twitter.com/CZ9mTQxE9T'

In [21]:
url4 = "https://space-facts.com/mars"

In [22]:
df = pd.read_html(url4, index_col=0)[0]
df.index.name = None
df.columns = [""]
df

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [23]:
html4 = df.to_html()
soup4 = BeautifulSoup(html4, "lxml")

In [24]:
mars_facts = soup4.find("table")
mars_facts

<table border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<th>Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th>Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th>Mass:</th>
<td>6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr>
<th>Moons:</th>
<td>2 (Phobos &amp; Deimos)</td>
</tr>
<tr>
<th>Orbit Distance:</th>
<td>227,943,824 km (1.52 AU)</td>
</tr>
<tr>
<th>Orbit Period:</th>
<td>687 days (1.9 years)</td>
</tr>
<tr>
<th>Surface Temperature:</th>
<td>-153 to 20 °C</td>
</tr>
<tr>
<th>First Record:</th>
<td>2nd millennium BC</td>
</tr>
<tr>
<th>Recorded By:</th>
<td>Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [44]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

url5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url5)

In [45]:
html5 = browser.html
soup5 = BeautifulSoup(html5, "lxml")

In [46]:
hemisphere_image_urls = []
for _ in soup5.find_all("h3"):
    d = {"title": " ".join(_.text.split(" ")[:-1])}
    browser.click_link_by_partial_text(_.text)
    d["img_url"] = browser.find_by_css("img[class='wide-image']").first["src"]
    hemisphere_image_urls.append(d)
    browser.click_link_by_partial_text("Back")

In [47]:
hemisphere_image_urls

[{'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere'}]