- There are 573 Total Players, and of the total amount of players, the majority are males (82%), with a fair of amount of females (17.5%) rounding out the major portion of players.

- Largest age demographic is the 20-24 (42%) range with other notable age demographics being 15-19 (17.8%) and 25-29(15.48%).

- Like many online games with microtransactions, a small percentage of users who are willing to invest a greater deal of momey over a long period of time or "whales", are an important userbase for us and should be heavily considered when making gameplay updates.

In [1]:
import pandas as pd
import os
import numpy as np

In [3]:
path = os.path.join("purchase_data.json")
df = pd.read_json(path)
df['Age'] = pd.to_numeric(df['Age'])
df['Item ID'] = pd.to_numeric(df['Item ID'])
df['Price'] = pd.to_numeric(df['Price'])
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
df['Item ID2'] = df['Item ID']
df = df.loc[:, ['Gender', 'SN', 'Age', 'Price', 'Item Name', 'Item ID', 'Item ID2']]
dup_drop = df.drop_duplicates('SN')

In [5]:
player_count = dup_drop['SN'].nunique()
player_count_df = pd.DataFrame({
    'Total Players': [player_count]
})
player_count_df

   Total Players
0            573

In [6]:
num_uni_items = df['Item ID'].nunique()
#num_uni_items

In [7]:
avg_pur_price = df['Price'].mean()
#avg_pur_price

In [8]:
tot_pur = df['Item Name'].count()
#print(tot_pur)

In [9]:
tot_rev = df['Price'].sum()
#print(tot_rev)

In [10]:
# Purchasing Analysis DF
pur_analysis_df = pd.DataFrame({
    'Number of Unique Items': [num_uni_items],
    'Average Price': [avg_pur_price],
    'Number of Purchases': [tot_pur],
    'Total Revenue': [tot_rev]
})
pur_analysis_df['Average Price'] = pur_analysis_df['Average Price'].map("${:,.2f}".format)
pur_analysis_df['Total Revenue'] = pur_analysis_df['Total Revenue'].map("${:,.2f}".format)
pur_analysis_df = pur_analysis_df[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]
pur_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $2.93                  780     $2,286.33

In [11]:
gender_series = dup_drop['Gender'].value_counts()
male_count = gender_series['Male']
print(male_count)
perMale = male_count / player_count
perMale

465

0.8115183246073299

In [12]:
female_count = gender_series['Female']
print(female_count)
perFemale = female_count / player_count
print(perFemale)

100
0.17452006980802792

In [13]:
other_count = player_count - male_count - female_count
print(other_count)
perOther = 1 - (perMale + perFemale)
perOther

8

0.013961605584642212

In [14]:
gender = ['Male', 'Female', 'Other / Non-Disclosed']
gen_analysis_df = pd.DataFrame({
    'Percentage of Players': [perMale, perFemale, perOther],
    'Total Count': [male_count, female_count, other_count]
}, index=gender)
gen_analysis_df['Percentage of Players'] = gen_analysis_df['Percentage of Players'].map("{:.2%}".format)
gen_analysis_df

                      Percentage of Players  Total Count
Male                                 81.15%          465
Female                               17.45%          100
Other / Non-Disclosed                 1.40%            8

In [15]:
male_users = df.loc[df['Gender'] == 'Male']
female_users = df.loc[df['Gender'] == 'Female']
other_users = df.loc[df['Gender']  == 'Other / Non-Disclosed']

male_purCount = male_users['Item ID'].value_counts().sum()
female_purCount = female_users['Item ID'].value_counts().sum()
other_purCount = other_users['Item ID'].value_counts().sum()

In [16]:
male_avgPrice = male_users['Price'].mean()
male_avgPrice

2.9505213270142154

In [17]:
female_avgPrice = female_users['Price'].mean()
female_avgPrice

2.815514705882352

In [18]:
other_avgPrice= other_users['Price'].mean()
other_avgPrice

3.2490909090909086

In [19]:
male_totVal = male_users['Price'].sum()
female_totVal = female_users['Price'].sum()
other_totVal = other_users['Price'].sum()
print(male_totVal)
female_totVal

1867.68

382.90999999999997

In [20]:
male_sn = male_users.groupby('SN')
male_normal = male_sn['Price'].sum().mean()

female_sn = female_users.groupby('SN')
female_normal = female_sn['Price'].sum().mean()

other_sn = other_users.groupby('SN')
other_normal = other_sn['Price'].sum().mean()

In [21]:
gen_pur_analysis_df = pd.DataFrame({
    'Purchase Count': [male_purCount, female_purCount, other_purCount],
    'Average Purchase Price': [male_avgPrice, female_avgPrice, other_avgPrice],
    'Total Purchase Value': [male_totVal, female_totVal, other_totVal],
    'Normalized Totals': [male_normal, female_normal, other_normal]
}, index=gender)

gen_pur_analysis_df['Average Purchase Price'] = gen_pur_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
gen_pur_analysis_df['Normalized Totals'] = gen_pur_analysis_df['Normalized Totals'].map("${:,.2f}".format)
gen_pur_analysis_df['Total Purchase Value'] = gen_pur_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
gen_pur_analysis_df[['Purchase Count','Average Purchase Price','Total Purchase Value', 'Normalized Totals']]

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Male,633,$2.95,"$1,867.68",$4.02
Female,136,$2.82,$382.91,$3.83
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

In [22]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 1000]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df['Age Ranges'] = pd.cut(dup_drop['Age'], bins, labels=group_names)
age_counts = df['Age Ranges'].value_counts()
agePer = age_counts / player_count * 100
age_demo_df = pd.DataFrame({
    'Percentage of Players': agePer,
    'Total Count': age_counts
})
age_demo_df.sort_index()

       Percentage of Players  Total Count
<10                 3.315881           19
10-14               4.013962           23
15-19              17.452007          100
20-24              45.200698          259
25-29              15.183246           87
30-34               8.202443           47
35-39               4.712042           27
40+                 1.919721           11

In [23]:
# df with all purchases of all users regardless of duplicates
df['Age Ranges'] = pd.cut(df['Age'], bins, labels=group_names)

In [24]:
age_pur_tot = df.groupby('Age Ranges').sum()['Price']
age_pur_count = df.groupby('Age Ranges').count()['Price']
age_pur_avg = df.groupby('Age Ranges').mean()['Price']
age_norm_tot = age_pur_tot / age_demo_df['Total Count']

age_pur_analysis_df = pd.DataFrame({
    'Purchase Count': age_pur_count,
    'Average Purchase Price': age_pur_avg,
    'Total Purchase Value': age_pur_tot,
    'Normalized Totals': age_norm_tot
})

age_pur_analysis_df['Average Purchase Price'] = age_pur_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
age_pur_analysis_df['Total Purchase Value'] = age_pur_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
age_pur_analysis_df['Normalized Totals'] = age_pur_analysis_df['Normalized Totals'].map("${:,.2f}".format)
age_pur_analysis_df = age_pur_analysis_df[['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Totals']]
age_pur_analysis_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,35,$2.77,$96.95,$4.22
15-19,133,$2.91,$386.42,$3.86
20-24,336,$2.91,$978.77,$3.78
25-29,125,$2.96,$370.33,$4.26
30-34,64,$3.08,$197.25,$4.20

In [25]:
# Top Spenders
big_ballas = df.pivot_table(index='SN', values='Price', aggfunc=np.sum).sort_values(by='Price', ascending=False)
big_ballas['Purchase Count'] = df['SN'].value_counts()
big_ballas = big_ballas.rename(columns={'Price': 'Total Purchase Value'})
big_ballas['Average Purchase Price'] = big_ballas['Total Purchase Value'] / big_ballas['Purchase Count']
big_ballas['Total Purchase Value'] = big_ballas['Total Purchase Value'].map("${:,.2f}".format)
big_ballas['Average Purchase Price'] = big_ballas['Average Purchase Price'].map("${:,.2f}".format)
big_ballas = big_ballas[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
big_ballas.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

In [26]:
# Most Popular Items
pop_count_df = df.pivot_table(index=['Item ID', 'Item Name'], values=['Item ID2'],
                              aggfunc={'Item ID2': len})
tpv_df = df.pivot_table(index=['Item ID', 'Item Name'], values=['Price'],
                        aggfunc={'Price': np.sum})
pop_item_df = pd.merge(pop_count_df, tpv_df, left_index=True, right_index=True).sort_values(by='Item ID2', ascending=False)
pop_item_df = pop_item_df.rename(columns={
    'Item ID2': 'Purchase Count',
    'Price': 'Total Purchase Value'
})
pop_item_df['Price'] = pop_item_df['Total Purchase Value'] / pop_item_df['Purchase Count']
pop_item_df['Total Purchase Value'] = pop_item_df['Total Purchase Value'].map("${:,.2f}".format)
pop_item_df['Price'] = pop_item_df['Price'].map("${:,.2f}".format)
pop_item_df = pop_item_df[['Purchase Count','Price','Total Purchase Value']]
pop_item_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

In [32]:
# Most Profitable Items
profitable_df = df.pivot_table(index=['Item ID', 'Item Name'], values='Price', aggfunc=np.sum)
profitable_df.head()
most_profitable_df = pd.merge(profitable_df, pop_count_df, left_index=True, right_index=True).sort_values(by='Item ID2', ascending=False)
most_profitable_df = most_profitable_df.rename(columns={
    'Item ID2': 'Purchase Count',
    'Price': 'Total Purchase Value'
})
most_profitable_df['Price'] = most_profitable_df['Total Purchase Value'] / most_profitable_df['Purchase Count']
most_profitable_df['Total Purchase Value'] = most_profitable_df['Total Purchase Value']
most_profitable_df['Price'] = most_profitable_df['Price'].map("${:,.2f}".format)
most_profitable_df = most_profitable_df.sort_values('Total Purchase Value', ascending=False)
most_profitable_df = most_profitable_df[['Purchase Count', 'Price', 'Total Purchase Value']]
most_profitable_df

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,37.26
115,Spectral Diamond Doomblade,7,$4.25,29.75
32,Orenmir,6,$4.95,29.70
103,Singed Scalpel,6,$4.87,29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,28.88
101,Final Critic,6,$4.62,27.72
7,"Thorn, Satchel of Dark Souls",6,$4.51,27.06
145,Fiery Glass Crusader,6,$4.45,26.70
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,25.85
152,Darkheart,8,$3.15,25.20
102,Avenger,6,$4.16,24.96
158,"Darkheart, Butcher of the Champion",7,$3.56,24.92
66,Victor Iron Spikes,7,$3.55,24.85
84,Arcane Gem,11,$2.23,24.53
173,Stormfury Longsword,5,$4.83,24.15
128,"Blazeguard, Reach of Eternity",6,$4.00,24.00
148,"Warmonger, Gift of Suffering's End",6,$3.96,23.76
46,Hopeless Ebon Dualblade,5,$4.75,23.75
108,"Extraction, Quickblade Of Trembling Hands",7,$3.39,23.73
8,"Purgatory, Gem of Regret",6,$3.91,23.46
153,Mercenary Sabre,5,$4.57,22.85
73,Ritual Mace,6,$3.74,22.44
91,Celeste,6,$3.71,22.26
48,"Rage, Legacy of the Lone Victor",5,$4.32,21.60
12,Dawne,5,$4.30,21.50
22,Amnesia,6,$3.57,21.42
49,"The Oculus, Token of Lost Worlds",5,$4.23,21.15
30,Stormcaller,5,$4.15,20.75
121,Massacre,6,$3.42,20.52
81,Dreamkiss,5,$4.06,20.30
...,...,...,...,...
149,"Tranquility, Razor of Black Magic",2,$2.47,4.94
24,Warped Fetish,2,$2.41,4.82
178,"Oathbreaker, Last Hope of the Breaking Storm",2,$2.41,4.82
167,"Malice, Legacy of the Queen",2,$2.38,4.76
116,Renewed Skeletal Katana,2,$2.37,4.74
82,Nirvana,4,$1.11,4.44
25,Hero Cane,4,$1.03,4.12
9,"Thorn, Conqueror of the Corrupted",2,$2.04,4.08
5,Putrid Fan,3,$1.32,3.96
122,Unending Tyranny,3,$1.21,3.63
6,Rusty Skull,3,$1.20,3.60
147,"Hellreaver, Heirloom of Inception",1,$3.59,3.59
41,Orbit,3,$1.16,3.48
2,Verdict,1,$3.40,3.40
136,Ghastly Adamantite Protector,1,$3.30,3.30
126,Exiled Mithril Longsword,1,$3.25,3.25
109,"Downfall, Scalpel Of The Emperor",1,$3.20,3.20
69,"Frenzy, Defender of the Harvest",3,$1.06,3.18
28,"Flux, Destroyer of Due Diligence",1,$3.04,3.04
89,"Blazefury, Protector of Delusions",2,$1.50,3.00
72,Winter's Bite,2,$1.39,2.78
168,"Sun Strike, Jaws of Twisted Visions",1,$2.64,2.64
43,Foul Edge,1,$2.38,2.38
4,Bloodlord's Fetish,1,$2.28,2.28
74,Yearning Crusher,2,$1.06,2.12
164,Exiled Doomblade,1,$1.92,1.92
0,Splinter,1,$1.82,1.82
3,Phantomlight,1,$1.79,1.79
59,"Lightning, Etcher of the King",1,$1.65,1.65
156,Soul-Forged Steel Shortsword,1,$1.16,1.16