In [2]:
import pandas as pd
import os

In [5]:
path = os.path.join("purchase_data.json")
df = pd.read_json(path)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [6]:
df.shape

(780, 6)

In [9]:
player_count = df['SN'].count()

In [11]:
num_uni_items = df['Item Name'].value_counts()

In [30]:
avg_pur_price = df['Price'].mean()

In [32]:
tot_pur = df['Item Name'].count()
print(tot_pur)

780

In [29]:
tot_rev = df['Price'].sum()
print(tot_rev)

2286.33

In [27]:
count_male = df.loc[df['Gender'] == 'Male'].count()
perMale = count_male / player_count
perMale

Age          0.811538
Gender       0.811538
Item ID      0.811538
Item Name    0.811538
Price        0.811538
SN           0.811538
dtype: float64

In [28]:
count_female = df.loc[df['Gender'] == 'Female'].count()
perFemale = count_female / player_count

In [24]:
perOther = 1 - (perMale + perFemale)
perOther

Age          0.014103
Gender       0.014103
Item ID      0.014103
Item Name    0.014103
Price        0.014103
SN           0.014103
dtype: float64

In [ ]:
PurCount_Male = df